@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
      url("../fonts/OpenSans-Bold.ttf") format("truetype"),
      url("../fonts/OpenSans-Regular.woff") format("woff"),
      url("../fonts/OpenSans-Bold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "Banny";
    src: url("../fonts/Banny-Round.otf") format("opentype"),
    url("../fonts/Banny-Round.woff") format("woff");
    font-style: normal;
    font-weight: normal;
  }