// Colors
$c-white: white;
$c-light-grey: #ffffff21;
$c-black: black;
$c-dark-grey: #333333;
$c-input-grey: #8C8C8C;
$c-yellow: #FFD600;
$c-dark-yellow: #E8C300;
$c-pale-grey: #E5E5E5;
$c-dark-red: #580606;
$c-footer-dark: #1A1A1A;
$c-green: #07180D;
$c-red: red;


// Fonts
$f-open: "Open Sans";
$f-banny: "Banny";

// Font size
$fs-main-title: 96px;
$fs-small: 12px;
$fs-regular: 14px;
$fs-large: 36px;
$fs-medium: 18px;

// Line height
$lh-standard: 12px;
$lh-normal: 18px;
$lh-large: 48px;
$lh-medium: 20px;
$lh-small: 14px;
$lh-pre-medium: 19px;
$lh-upper-medium: 28px;

// Text transform
$tt-upper: uppercase;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);