include ../_includes/_elements/index
include ../_includes/_components/index

doctype html
html(lang='en')
		head
				meta(charset='utf-8')
				meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
				link(rel="shortcut icon" href="./favicon.ico")
				block style
				block title
		body
				include ../../assets/svg/symbol-defs.svg
				.l-common
					block content
				block script