.e-sub-line {
	background-color: $c-dark-yellow;
	width: 65px;
	height: 5px;
	border-radius: 8px;
	position: relative;
	z-index: 900;
	&:hover {
		transform: scale(0.8);
		transition: $t-normal;
	}
	@media (max-width: 768px) {
		z-index: 900;
	}
	@media (max-width: 480px) {
		width: 50px;
	}
}
